 


/* cursor */

.TKCursorDragHorizontal {
	cursor: pointer;
	cursor: move;
	cursor: col-resize;
 }


/* TKToggle */

.TKToggle {
	color: rgb(108, 135, 255);
	border-bottom: 1px dashed #46f;
	cursor: pointer;
}


/* TKAdjustableNumber */

.TKAdjustableNumber {
	position:relative;
	color: rgb(131, 209, 190);
	border-bottom: 1px dashed rgb(155, 255, 250);
}

.TKAdjustableNumberHover {
}

.TKAdjustableNumberDown {
	font-size: larger;
	color: rgb(124, 167, 236);
	border-bottom: 1px solid rgb(89, 132, 212);
	transition: 0.6s;

 }

.TKAdjustableNumberHelp {
	position:absolute;
     color:rgb(233, 110, 53);
	font: 12px "Helvetica-Neue", "Arial", sans-serif;
}


body{
	background-color: rgb(37, 37, 37);
	color: rgb(214, 246, 237);
	font-size:larger ;
	}

h1{
	color: rgb(101, 167, 147);
}

.prefixDraggable{
	color: rgb(131, 209, 190);
	border-bottom: 1px dashed rgb(155, 255, 250);
}
.prefixDraggable:active{
	font-size: larger;
	color: rgb(124, 167, 236);
	border-bottom: 1px solid rgb(89, 132, 212);
	transition: 0.5s;
}
.prefixNonDraggable{
    color:rgb(233, 110, 53)
}
.nonDraggables{
    color:rgb(233, 110, 53)
}

#sourceTicketImage{
 	font-size: small;
	color: dimgray;
	display: flex; 
	justify-content: center

}
#ticketImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.content{
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 10%;
	border: 1px solid rgb(66, 66, 66);
	border-radius: 5%;
	padding: 5%;
	padding-bottom: 2%;
}

.subheader{
	font-size: larger;
	color: teal;
}

 
#approximationNote, .approximationNote{
	font-size: 17px;
	font-style: oblique;
	color: rgb(255, 169, 57);
}